* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #001f3f;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    padding-top: 100px; 
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

header {
    width: 100%;
    max-width: 1920px; 
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 10;
    background-color: #001f3f;
    padding-left: 19.4%;
    padding-right: 19.4%;
}

.header-left h1 {
    font-weight: bold;
    font-size: 32px;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

.header-right a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 400;
    font-size: 30px;
    transition: color 0.1s ease;
}

.header-right a:hover {
    color: #00aaff;
}

main {
    width: 100%;
    text-align: center;
}

.profile-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
    outline: 6px solid white;
}

.profile-text {
    max-width: 800px;
    text-align: start;
    font-size: 36px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .header-left h1 {
        font-size: 24px;
    }

    .header-right a {
        margin-left: 10px;
        font-size: 18px;
    }

    .profile-section {
        flex-direction: column;
        align-items: center;
    }

    .profile-img {
        margin-bottom: 20px;
    }

    .profile-text {
        text-align: center;
    }

    .subtitle {
        font-size: 16px;
        text-align: center;
    }
}



.projects-section {
    width: 100%;
    text-align: left;
    margin-top: 120px; 
}

.projects-section h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    justify-items: flex-start; 
}

.card {
    width: 100%;
    height: 500px;
    background-color: #00172e;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden; 
}

.card:hover {
    transform: scale(1.05);
    z-index: 1;
}

.card img {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    max-height: 300px; /* Limita a altura máxima da imagem */
    object-fit: cover;
    object-position: center;
}

.card-content {
    padding: 20px;
    color: white;
    flex-grow: 1; /* Permite que o conteúdo ocupe o espaço disponível */
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-summary {
    font-size: 16px;
    font-weight: 400;
    color: #b0b0b0;
}

.card-tags {
    display: flex;
    gap: 10px; 
    padding: 10px;
    justify-content: start;
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
}

.card-tag {
    background-color: #001f3f;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 20px; 
}

.modeling-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    justify-items: center; 
}

.modeling-item img {
    width: 100%;
    max-width: 1920px; 
    height: auto; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    object-fit: cover; 
    cursor: pointer;
}

.modeling-item img:hover {
    transform: scale(1.05); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4); 
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.9); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.modal-content:hover {
    transform: scale(1.02); 
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease;
}

.modal-close:hover {
    color: #00aaff;
}

.see-more {
    margin-top: 30px;
    text-align: left;
    font-size: 20px;
}

.see-more a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
    transition: color 0.3s ease; 
}

.see-more a:hover {
    color: #00aaff; 
}

.card-link {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor do texto */
    display: block; /* Faz o link ocupar todo o espaço do card */
}

.card-link:hover .card {
    transform: scale(1.05); /* Adiciona um efeito de hover ao link */
    transition: transform 0.2s ease-in-out; /* Efeito suave ao passar o mouse */
}
